


header{
    display: grid;
    justify-content: space-between;
    align-items: center;
    justify-items: end;
    background: darkred;
    color:white;
    padding:1rem;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}
header h1{
    font-size: 1.8rem;
    line-height: 1.2;
    margin-right: 100px;
}

#logo{
    width: 80px;
    height: auto;
}

body{
    font-family:'Courier New', Courier, monospace ;
    margin:0;
    padding:0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
nav {
    background: black;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 60px; 
    width: 100%;
    z-index: 999;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px 15px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

nav a:hover {
    background: darkred;
}
nav ul li a.active {
    color: yellow;
    text-decoration: underline;
}
main{
    margin-top: 120px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
}

.hidden{
    display: none;
}

figure{

    max-width: 100%;
    width: 100%;
    display: block;
    text-align: center;
}

footer{
    text-align: center;
    background: darkred;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        text-align: center;
    }

    nav ul{
        flex-direction: column;
    }
}

img{
    max-width: 100%;
    height: auto;
}
